
/*main-section*/
.main-section {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 70px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: right;
  }

/*main-container*/
.main-container {
    display: flex;
}

/*Selecione o modelo*/





    

.exchangeDropdownList-menu li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.exchangeDropdownList-menu li:hover {
    background-color: #f1f1f1;
}

/*Conteúdo*/
.product-main-content {
    width: Hug (1,236px);
    height: Hug (1,567px);
    top: 86px;
    left: 102px;
    gap: 80px;

}

.product-info {
    width: 900px;
    height: 178px;  
    padding-left: 50px;  
}

.product-description {
    display: flex;
}

.Product-details{
    color: #0C1B33;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: #7A306C;
    text-decoration: underline;
    font-size: 24px;
    cursor: pointer;

    background: none;
	border: none;
	outline: inherit;
}

.Product-characteristics {
    margin-left: 10px;
    color: #0C1B33;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #9C9C9C;

    background: none;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.product-content {
    color: #0C1B33;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    display: none;
    transition: opacity 0.5s ease;
}

.product-content.show{
     display: block;
     transition: opacity 1s;
    
}

/*Vitrine*/


.carousel-content .material-symbols-outlined{
    background: transparent;
    color: #0C1B33;
}

.carousel-title { 
    color: #0C1B33;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.carousel-img-content active .slide {
    margin-left: 10px;
}
.carousel-img2 .carousel-button-float {
    background-color: #0C1B33;
    opacity: 0; /* Começa com opacidade zero */
    transition: opacity 0.1s ease, transform 0.1s ease; 
    transform: translateY(0);
}

.carousel-img2:hover .carousel-button-float {
    background-color: #0C1B33;
    opacity: 1;
    transform: translateY(-200px); 
}
.carousel-img2{
    margin: 5px;
}



.carousel-img span {
    color: #0C1B33;
    position: relative;
    font-size: 50px;
}


/*valores - vitrine*/
.carousel-img-subtitle {
    /* display: flex; */
    text-align: center;
    background-color: white; 
}
.carousel-button-float{
    opacity: 0;
    padding: 20px;
}
.carousel-button-float1 {
    background-color: #7A306C;
    color: #FFEAFB;
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}


.carousel-button-float1 img {
    width: 19.07px;
    height: 19.07px;
    margin-top: 2px;    
    border: 1.06px;
    line-height: center;
}

.carousel-button-float1 p {
    color: #FFEAFB;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: center;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    border: none;
    gap: 10px;
    cursor: pointer;
}
.carousel-button-float2{
    background-color: white;
    width: 100%;
    height: 46px;
    align-items: center;
    border-radius: 5px;
    border: none;
    /* padding: 5px; */
    gap: 10px;
    cursor: pointer;
}

.carousel-button-float2 p{
    color: #0C1B33;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: center;        
    text-align: center;
}
.carousel-img1-button-old-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #9C9C9C;
    text-decoration:line-through;
    border: none;
    background-color: white;
}

.carousel-img1-button-new-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C1B33;
    border: none;
    background-color: white;
}

.carousel-img2-button-old-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #9C9C9C;
    text-decoration:line-through;
    border: none;
    background-color: white;
}

.carousel-img2-button-new-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C1B33;
    border: none;
    background-color: white;
}

.carousel-img3-button-old-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #9C9C9C;
    text-decoration:line-through;
    border: none;
    background-color: white;
}

.carousel-img3-button-new-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C1B33;
    border: none;
    background-color: white;
}

.carousel-img4-button-old-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #9C9C9C;
    text-decoration:line-through;
    border: none;
    background-color: white;
}

.carousel-img4-button-new-value {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0C1B33;
    border: none;
    background-color: white;
}

.heart {
    font-size: 44px;
    cursor: pointer;
    position: absolute;
    color: #9C9C9C;
    right: 25px;
}

.carousel-slide{
    position: relative;
}
.btn-new {
    color: #7A306C;
    position: absolute;
    /* left: 20px; */
    height: 10px;
}

.btn-new button{
    text-decoration: none;
    border: none;
    background-color: #DBFE87;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;

}


/* novo carousel */

.carousel-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.content-show {
    display:flex;
  
}
.carousel-controls {
    text-align: center;
}

.carousel-item {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    scroll-snap-align: start;
}



.wrapper-carousel {
    display: flex;
    overflow: hidden;
}
.carousel-slide {
    flex: 0 0 auto;
    width: 25%; /* Cada slide ocupa 25% da largura total */
    text-align: center;
}
.carousel-button {
    cursor: pointer;
    margin: auto 10px;
}



.wrapper-caurosel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 100%; /* Define a largura dos slides */
    padding: 10px; /* Adiciona espaçamento entre os slides */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.carousel-slide img {
    /* max-width: 100%; */
    height: auto;
    display: block; /* Remove espaços em branco ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* Adicione outros estilos conforme necessário para o layout */

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/*solution */

.main-section {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.wrapper-caurosel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 auto; /* Define a largura automática dos slides */
    padding: 10px; /* Adiciona espaçamento entre os slides */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.carousel-slide img {
    max-width: 100%;
    height: auto;
    display: block; /* Remove espaços em branco ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.carousel-img1, .carousel-img2, .carousel-img3, carousel-img4{
    position: relative;
}

.prev-button, .next-button {
    position: absolute;
    top: 30%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 22px;
}

.prev-button {
    left: 0%;
    z-index: 2;
}

.next-button {
    right: 0;
}
.carousel-content{
    position: relative;
}